*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --surface-0: hsl(129, 19%, 14%);
  --surface-1: hsl(98, 36%, 38%);
  --surface-2: hsl(138, 35%, 72%);
  --text-1: hsl(0, 0%, 0%);
  --text-2: hsl(229, 12%, 66%);
  --text-3: hsl(0, 0%, 100%);
  --required: hsl(321, 32%, 56%);
  --accent: hsl(140, 81%, 11%);
  --border: 1px solid hsl(229, 22%, 19%);
  --container: hsl(125, 16%, 46%);
}
input,
button,
select,
textarea {
  font: inherit;
}

body {
  font-family: system-ui, sans-serif;
  min-height: 100vh;
  background-color: var(--surface-0);
  color: var(--text-1);
  line-height: 1.5;
}
.container {
  display: grid;
  grid-template-columns: auto 1fr; /*  todo refresh how to make responsive grid w: grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
  background-color: var(--container);
}
form {
  display: grid;
  gap: 1rem;
  @media (width>720px) {
    grid-template-columns: 1fr 1fr;
  }
}
.form-group {
  display: grid;
  gap: 0.5em;
  padding: 1rem;
}
label {
  text-transform: uppercase;
  font-size: 1rem;

  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}
input,
select,
textarea {
  border-radius: 16px;
  padding: 1rem 1.5rem;
  background: var(--surface-2);
  color: var(--text-1);
  border: var(--border);
  accent-color: var(--accent);
}
input:not([type='checkbox'], [type='radio']) {
  width: 100%;
}
.form-group:has(.fine-print) {
  grid-column: 1/-1;
  display: flex;
  gap: 1.5rem;
}
button {
  cursor: pointer;
  background-color: var(--accent);
  color: var(--text-3);
  padding: 1em 1.5em;
  margin: 1rem;
  border: 0;
  border-radius: 16px;

  &:hover,
  &:focus-visible {
    background-color: hsl(from var(--accent) h s 30%);
  }
}
.form-heading,
.todos-header {
  padding: 1rem;
}
#sidebar h2 {
  padding: 1rem;
}
#sidebar {
  /*todo fix the sidebar to show properly its contents*/
  height: 100vh;
  width: 250px;
  padding: 0.5rem 1rem;
  background-color: var(--surface-2);
  border-right: 3px solid var(--surface-1);
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}
#sidebar.close {
  padding: 0.5rem;
  width: 60px;
}
#sidebar > ul > li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  .logo {
    font-weight: 600;
  }
}
#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
  border-radius: 0.5em;
  padding: 0.85em;
  text-decoration: none;
  color: var(--text-1);
  display: flex;
  align-items: center;
  gap: 1em;
}
.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  font: inherit;
  cursor: pointer;
}
#sidebar img {
  flex-shrink: 0;
  fill: var(--text-1);
}
#sidebar span,
#sidebar .dropdown-btn span {
  flex-grow: 1;
}
#sidebar a:hover,
#sidebar .dropdown-btn:hover {
  background-color: var(--text-2);
}

ul {
  list-style: none;
}
#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;
  > div {
    overflow: hidden;
  }
}
#sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}
.rotate img:last-child {
  rotate: -180deg;
}
.dropdown-btn img {
  transition: 200ms ease;
}
#sidebar .sub-menu a {
  padding-left: 2em;
}
.nav-toggle-btn {
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  background: none;
  cursor: pointer;
  img {
    transition: rotate 150ms ease;
  }
}
.nav-toggle-btn:hover {
  background-color: var(--surface-1);
}
