*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --surface-1: #d9e9cf;
  --surface-2: #a7c1a8;
  --text-1: hsl(0, 0%, 0%);
  --button: #748e63;
  --border: 1px solid #9cafaa;
  --content: #eff1f3;
  --input: #e7eeef;
}
input,
button,
select,
textarea {
  font: inherit;
}

body {
  font-family: system-ui, sans-serif;
  min-height: 100vh;
  color: var(--text-1);
  line-height: 1.5;
  background-color: white;
}
#content {
  width: 100%;
  background-color: var(--content);
}
.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr; /*  todo refresh how to make responsive grid w: grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
}

form {
  display: grid;
  gap: 1rem;
  @media (width>720px) {
    grid-template-columns: 1fr 1fr;
  }
}
.form-group {
  display: grid;
  gap: 0.5em;
  padding: 1rem;
}
label {
  text-transform: uppercase;
  font-size: 1rem;

  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}
input,
select,
textarea {
  border-radius: 16px;
  padding: 1rem 1.5rem;
  background: var(--input);
  color: var(--border);
  border: var(--border);
}
input:not([type='checkbox'], [type='radio']) {
  width: 100%;
}
.form-group:has(.fine-print) {
  grid-column: 1/-1;
  display: flex;
  gap: 1.5rem;
}
button {
  cursor: pointer;
  background-color: var(--button);
  padding: 1em 1.5em;
  margin: 1rem;
  border: 0;
  border-radius: 16px;
}
.form-heading,
.todos-header {
  padding: 1rem;
}
#sidebar h2 {
  padding: 1rem;
}
#sidebar {
  /*todo fix the sidebar to show properly its contents*/
  min-height: 100vh;
  width: 300px;
  padding: 1rem;
  background-color: var(--surface-2);
  border-right: 3px solid var(--surface-1);
}

#sidebar > ul > li:first-child {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

#sidebar a,
#sidebar .dropdown-btn {
  margin: 0 1rem 1rem 1rem;
  border-radius: 0.5em;
  padding: 1rem;
  text-decoration: none;
  color: var(--text-1);
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.addProjectBtn {
  margin: 0 1rem 1rem 1rem;
  border-radius: 0.5em;
  padding: 1rem;
  text-decoration: none;
  color: var(--text-1);
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}
#sidebar button .dropdown-btn {
  padding: 1rem;
  cursor: pointer;
}

button:hover,
#sidebar a:hover,
#sidebar .dropdown-btn:hover,
#sidebar .addProjectBtn:hover {
  background-color: var(--surface-1);
}

ul {
  list-style: none;
}
#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;
  > div {
    overflow: hidden;
  }
}
#sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}
.rotate img:last-child {
  rotate: -180deg;
}
.dropdown-btn img {
  transition: 200ms ease;
}
